<div class="header">
    <div class="header__body">
        <div layout="row">
            <div class="logo">
                <img  ng-if="fhColorLogo === 'dark'" class="logo__img" src="content/img/logo.png">
                <img  ng-if="fhColorLogo === 'light'" class="logo__img" src="content/img/logo2.png">
            </div>
            <div class="social">
                <div class="social__icons" layout="row" layout-align="space-between center">
                    <div class="social__icon-one">
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </div>
                    <div class="social__icon-one">
                        <i class="fab fa-twitter fa-2x"></i>
                    </div>
                    <!--<div class="social__icon-one">-->
                        <!--<i class="fas fa-shopping-cart fa-2x"></i>-->
                    <!--</div>-->
                    <div class="dropdown" style="float:right;">
                        <div class="social__icon-one">
                            <i class="fas fa-shopping-cart fa-2x"></i>
                        </div>
                        <div class="dropdown-content">
                            <div layout="row" layout-align="start">
                                <div class="dropdown-content__block">
                                    <img class="logo__img" src="content/img/menu-square.png">
                                </div>
                                <div class="dropdown-content__block">
                                    <p class="dropdown-content__title">Drill for real</p>
                                    <p class="dropdown-content__subtitle">1 x £59.00</p>
                                </div>
                            </div>
                            <div layout="row" layout-align="start">
                                <div class="dropdown-content__block">
                                    <img class="logo__img" src="content/img/menu-square.png">
                                </div>
                                <div class="dropdown-content__block">
                                    <p class="dropdown-content__title">Drill Mrill Brill <span class="count">(2)</span></p>
                                    <p class="dropdown-content__subtitle">1 x £29.00</p>
                                </div>
                            </div>
                            <md-divider class="dropdown-content__divider"></md-divider>
                            <div layout="row" layout-align="start">
                                <div class="dropdown-content__block" layout="row" layout-align="space-between center">
                                    <div class="dropdown-content__title">Subtotal:</div>
                                    <div class="dropdown-content__sum">£259.00</div>
                                </div>
                            </div>
                            <div layout="row" layout-align="start">
                                <div class="dropdown-content__block buttons" layout="row" layout-align="space-between center">
                                    <div class="dropdown-content__checkout button">checkout</div>
                                    <div class="dropdown-content__cart button">view cart</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="social__icon-one fa-2x">
                        <i ng-click="vm.openNav()" class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mySidenav" class="sidenav">
        <div class="sidenav__header-sdnv" layout="row" layout-align="space-around center">
            <div>
                NAVIGATION
            </div>
            <div>
                <img src="content/img/close.png" ng-click="vm.closeNav()">
            </div>
        </div>
        <div class="sidenav__list-sdnv">
            <div class="sidenav__item" ui-sref="home">
                Home
            </div>
            <md-divider></md-divider>
            <div class="sidenav__item ">
                <span class="accordion">Service</span>
                <div class="sidenav__item-small">
                    <md-divider></md-divider>
                    <div class="small-item" ui-sref="services">General contracting</div>
                    <div class="small-item" ui-sref="services">Project design and engineering</div>
                    <div class="small-item" ui-sref="services">Capital improvements</div>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="sidenav__item">
                Our works
            </div>
            <md-divider></md-divider>
            <div class="sidenav__item">
                News & events
            </div>
            <md-divider></md-divider>
            <div class="sidenav__item">
                Work with us
            </div>
            <md-divider></md-divider>
            <div class="sidenav__item">
                F.A.Q
            </div>
            <md-divider></md-divider>
            <div class="sidenav__item">
                Contact us us
            </div>
            <md-divider></md-divider>
            <div class="sidenav__item">
                Shop
            </div>
            <md-divider></md-divider>
        </div>
        <div class="sidenav__contact-info">
            <img src="content/img/map.png" ng-click="vm.closeNav()">
            <div class="infoText mt-10">
                Stylemixthemes USA, California 20 <br> Fix Avenue, 2365 California
                <br><br><br>1 888 111 68 68<br><br> 6.00 - 18.00 sunday CLOSED
            </div>
            <div class="infoMail mt-10">
                info@stylemixthemes.com
            </div>
        </div>
        <div class="searchBlock">
         <input type="text" placeholder="Search">
        </div>
    </div>
</div>