.header {
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 1s ease-in-out;
  //background-color:rgba(0,0,0,0.7);
  //-webkit-transition:background-color .4s;
  //-moz-transition:background-color .4s;
  //transition:background-color .4s;

  //opacity: 0.5;
  .header__body {
    width: 1172px;
    margin: auto;
  }
  .logo {
    //background-color: $blocks-color-base-second;
    width: 879px;
    //height: 240px;
  }
  .logo__img {
    padding: 20px 0 0 0;
  }
  .social {
    //background-color: $blocks-color-base-dark;
    width: 293px;
    //height: 240px;
  }
  .social__icons {
    float: right;
    margin-top: 3vh;
  }
  .social__icon-one {
    color: white;
    padding: 20px 0 0 30px;

  }
  .social__icon-one i {
    outline: none;
    border: 0;
    cursor: pointer;
  }
  //NAVIGATION-------
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $blocks-color-base;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav .sidenav__item:hover {
    color: $blocks-color-blue;
  }
  .sidenav__header-sdnv {
    font-size: 18px;
    font-weight: 700;
    font-family: Montserrat;
    margin: 0 30px 0 20px;
  }
  .sidenav__header-sdnv img {
    cursor: pointer;
    outline: none;
    border: 0;
  }
  .sidenav__list-sdnv {
    margin: 40px 30px 0 20px;
  }
  .sidenav__item {
    color: $font-color-light;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
    margin: 20px 0 20px 0;
    cursor: pointer;
    transition: 0.3s;
  }
  .sidenav__contact-info {
    margin: 80px 0 20px 20px;
  }
  .sidenav__contact-info .infoText {
    font-size: 12px;
    font-weight: 600;
    font-family: Montserrat;
    color: $font-color-light;
  }
  .sidenav__contact-info .infoMail {
    color: $blocks-color-blue;
    font-size: 12px;
    font-weight: 600;
    font-family: Montserrat;
    text-decoration: underline;
  }
  .searchBlock {
    font-family: Montserrat;
    margin: 80px 0 80px 20px;
    input {
      height: 50px;
      width: 90%;
      border: 1px solid $blocks-color-base-second;
      color: $font-color-light;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $font-color-light;
      font-weight: 600;
      padding-left: 10px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $font-color-light;
      font-weight: 600;
      padding-left: 10px;

    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $font-color-light;
      font-weight: 600;
      padding-left: 10px;

    }
    :-moz-placeholder { /* Firefox 18- */
      color: $font-color-light;
      font-weight: 600;
      padding-left: 10px;

    }

  }
  //NAVIGATION ENDS-------

  //ACCORDION------
  .accordion {
    transition: 0.4s;
    outline: none;
    border: 0;
  }
  .accordion:after {
    content: '>';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .sidenav__item-small {
    color: $font-color-light;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    margin: 20px 0 30px 0;
    cursor: pointer;
    display: none;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
  }
  .sidenav__item-small .small-item {
    margin: 20px 0 0px 20px;
  }
  .sidenav__item-small .small-item:hover {
    color: $blocks-color-blue;

  }
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  //ACCORDION ENDS------
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    border-top: 10px solid rgba(0, 0, 0, 0);
    -moz-background-clip: border;     /* Firefox 3.6 */
    -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
    background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    //-moz-background-clip: content;     /* Firefox 3.6 */
    //-webkit-background-clip: content;  /* Safari 4? Chrome 6? */
    //background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
    right: 0;
    background-color: #f9f9f9;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99999999;
    padding: 20px;
    &:before {
      top: -4px;
      left: 100%;
      border-bottom: 10px solid $blocks-color-base;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      margin-left: -20px;
      transform: translateY(-50%);
    }
  }
  .dropdown-content__block {
    margin-right: 10px;
    margin-top: 10px;
  }
  .dropdown-content .buttons{
    margin: 20px 0 20px 0;
  }
  .dropdown-content__sum {
    color: $font-color-dark;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
  }
  .dropdown-content__block .count {
    color: lightgrey;
  }
  .dropdown-content__title {
    color: $font-color-light;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    cursor: pointer;
  }
  .dropdown-content__subtitle {
    color: $font-color-dark;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 600;
    cursor: pointer;
  }
  .dropdown-content__checkout{
    background-color: $blocks-color-yellow;
    color: $font-color-dark;
  }
  .dropdown-content__cart{
    color: $blocks-color-blue;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 20px;
  }
  .dropdown-content__divider {
    margin: 20px 0 20px 0;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  @media (max-width: 540px) {
    .header__body {
      width: 310px;
      margin: auto;
    }
    .logo {
      //background-color: $blocks-color-base-second;
      width: 232.5px;
      //height: 240px;
    }
    .logo__img {
      padding: 10px 0 0 0;
      width: 30px;
    }
    .social {
      //background-color: $blocks-color-base-dark;
      width: 90px;
      //height: 240px;
    }
    .social__icons {
      float: right;
      margin-top: 10px;
    }
    .social__icon-one {
      color: white;
      padding: 0 0 0 10px;

    }
    .social__icon-one i {
      outline: none;
      border: 0;
      cursor: pointer;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #f9f9f9;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      padding: 5px;
      &:before {
        top: 0;
        left: 90%;
        border-bottom: 5px solid $blocks-color-base;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        margin-left: -20px;
        transform: translateY(-50%);
      }
    }
    .dropdown-content__block {
      margin-right: 5px;
      margin-top: 5px;
    }
    .dropdown-content .buttons{
      margin: 5px 0 5px 0;
    }
    .dropdown-content__sum {
      color: $font-color-dark;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: 500;
      margin-left: 5px;
    }
    .dropdown-content__block .count {
      color: lightgrey;
    }
    .dropdown-content__title {
      color: $font-color-light;
      font-size: 8px;
      font-family: Montserrat;
      font-weight: 400;
      cursor: pointer;
    }
    .dropdown-content__subtitle {
      color: $font-color-dark;
      font-size: 6px;
      font-family: Montserrat;
      font-weight: 600;
      cursor: pointer;
    }
    .dropdown-content__checkout{
      background-color: $blocks-color-yellow;
      color: $font-color-dark;
    }
    .dropdown-content__cart{
      color: $blocks-color-blue;
      font-size: 6px !important;
      font-weight: 500;
      padding: 3px 5px;
    }
    .dropdown-content__divider {
      margin: 5px 0 5px 0;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
  }
}
.header.active {
  background: #fff;
  opacity: 0.5;
  color: red;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}