@charset "utf-8";
/* CSS Document */

/*==========================================

					Fonts

=============================================*/
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
}
/*==========================================

					Custom CSS

=============================================*/
* {
  box-sizing: border-box;
}
html, body {
  position: fixed;
  min-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
  font-size: 14px;
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto;
}
.main-title{
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: Montserrat;
  margin: 20px 0 0 20px;

}


