@charset "utf-8";
/* CSS Document */

/*==========================================

					Fonts

=============================================*/
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
}

/*==========================================

					Custom CSS

=============================================*/
* {
  box-sizing: border-box;
}

html, body {
  position: fixed;
  min-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
  font-size: 14px;
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto;
}
.content{
  width: 1172px;
  margin: 0 auto;
}
.mt-10{
  margin-top: 10px;
}

.main-title {
  font-size: 20px;
  color: $font-color-dark;
  font-weight: bold;
  font-family: Montserrat;
  //margin: 20px 0 0 20px;
}
.main-title-base {
  font-size: 20px;
  color: $blocks-color-base;
  font-weight: bold;
  font-family: Montserrat;
}

.dark-text {
  color: $font-color-dark;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
}
.light-text {
  color: $font-color-light;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
}
.button {
  font-family: Montserrat;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.4s;
}
.divider {
  background-color: $font-color-dark;
  width: 50px;
  height: 7px;
  margin: 20px 0 20px 0;
}
.light-divider{
  background-color: $blocks-color-base;
  width: 50px;
  height: 7px;
  margin: 20px 0 20px 0;
}
.block-light {
  height: 293px;
  width: 293px;
  padding: 30px;
  background-color: $blocks-color-base;
}
.block-dark {
  height: 293px;
  width: 293px;
  padding: 30px;
  background-color: $blocks-color-base-second;
}
.block-light-medium {
  height: 293px;
  width: 586px;
  padding: 30px;
  background-color: $blocks-color-base;
}
.block-dark-medium {
  height: 293px;
  width: 586px;
  padding: 30px;
  background-color: $blocks-color-base-second;
}
.block-yellow {
  height: 293px;
  width: 293px;
  padding: 30px;
  background-color: $blocks-color-yellow;
}
.block-blue {
  height: 293px;
  width: 293px;
  padding: 30px;
  background-color: $blocks-color-blue;
}
.block-pink-medium {
  height: 293px;
  width: 586px;
  padding: 30px;
  background-color: $blocks-color-pink;
}
.image-content{
  height: 100%;
  margin: auto;
  cursor: pointer;
}
.image-content__base-text{
  color: $blocks-color-base;
  font-family: Montserrat;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
}
.image-content__dark-text{
  color: $font-color-dark;
  font-family: Montserrat;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
}
.rating-text-dark{
  color: #999484;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
}
.subtitle{
  color: $font-color-dark;
  font-family: Montserrat;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
}
.numbers{
  color: #707070;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 22px;
  margin-top: 50px;
}
.number-square{
  height: 80px;
  width: 80px;
  border: 5px solid $blocks-color-blue;
}
.number-square img{
  margin: 20%;
}
.top-arrow{
  position: relative;
  &:before {
    top: 0;
    left: 50%;
    border-bottom: 20px solid $blocks-color-base;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -20px;
    transform: translateY(-50%);
  }
}
.bottom-arrow{
  position: relative;
  &:before {
    top: 100%;
    left: 50%;
    border-top: 20px solid $blocks-color-base;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -20px;
    transform: translateY(-50%);
  }
}
.left-arrow{
  position: relative;
  &:before {
    top: 50%;
    right: 100%;
    border-right: 13px solid $blocks-color-base;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -10px;
    transform: translateY(-50%);
  }
}
.right-arrow{
  position: relative;
  &:before {
    top: 50%;
    left: 100%;
    border-left: 20px solid $blocks-color-base;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -10px;
    transform: translateY(-50%);
  }
}
.slider-content{
  height: 100%;
}
.counter{
  margin: 40px 0 40px 0;
}
.big-number{
  display: block;
  font-family: Montserrat;
  font-weight: 700;
  color: $font-color-dark;
  font-size: 22px;
}
.small-number{
  display: block;
  margin-top: -5px;
  margin-left: 5px;
  font-family: Montserrat;
  font-weight: 600;
  color: $font-color-dark;
  font-size: 17px;
}
.chevron{
  cursor: pointer;
}
//@media (min-width: 1500px) {
//  .container {
//    width: 1440px;
//  }
//}
//and (max-width: 1500px)
//@media (min-width: 1200px)  {
//  .container {
//    width: 1170px;
//  }
//}
//
//@media (min-width: 992px) and (max-width: 1200px) {
//  .container {
//    width: 970px;
//  }
//}
//
//@media (min-width: 768px) and (max-width: 992px) {
//  .container {
//    width: 750px;
//  }
//}
//
//@media (min-width: 540px) and (max-width: 768px) {
//  .container {
//    width: 500px;
//  }
//}
//
//@media (max-width: 540px) {
//  .container {
//    width: 310px;
//  }
//}



