$blocks-color-bright: #FFE400;
$blocks-color-base: white;
$blocks-color-base-second: #D6D6D6;
$blocks-color-light: #2297D8;
$blocks-color-base-dark: #282828;
$blocks-color-pink: #FCF3D3;
$font-color-dark: #363636;
$font-color-light: #A0A0A0;