<div class="home">
    <fdn-header></fdn-header>
    <div class="info-block" layout="row">
        <div class="info-block__main" layout="column">
            <div>
                <div class="info-block__around-us-body">
                    <div class="main-title">
                        BUILDING THE <br> WORLD AROUND US
                    </div>
                    <div class="info-block__divider"></div>
                    <div class="dark-text">
                        Still other clients have reserved for capital improvement projects and will <br> work directly
                        with our Design and Engineering team.
                    </div>
                    <div class="info-block__button button">read more</div>
                </div>
            </div>
            <div>
                <div class="info-block__video-body">

                </div>
            </div>
        </div>
        <div class="info-block__slider">
            <div class="info-block__slider__body">

            </div>
        </div>
    </div>
    <div class="content">
        <div layout="row" layout-align="center center">
            <div class="block-light">

            </div>
            <div class="block-dark">

            </div>
            <div class="block-light">

            </div>
            <div class="block-dark">
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <div class="block-light">

            </div>
            <div class="block-light">

            </div>
            <div class="block-dark">

            </div>
            <div class="block-light">
            </div>
        </div>
    </div>
    <div class="content" layout="row">
        <div layout="row">
            <div class="block-yellow">

            </div>
            <div class="block-blue">

            </div>
        </div>
        <div class="contact-block__search-info">
        </div>
    </div>
    <div class="content" layout="row">
        <div class="block-light-medium">

        </div>
        <div class="block-dark-medium">

        </div>
    </div>
    <div class="content" layout="row">
        <div class="block-pink-medium">

        </div>
        <div class="block-light">

        </div>
        <div class="block-dark">

        </div>
    </div>
    <div class="content" layout="row">
        <div class="block-blue">

        </div>
        <div class="block-light">

        </div>
        <div class="block-dark">

        </div>
        <div class="block-light">

        </div>
    </div>
    <div class="content" layout="row">
        <div class="block-light">

        </div>
        <div class="block-dark-medium">

        </div>
        <div class="block-yellow">

        </div>
    </div>
    <div class="content" layout="row">
        <div class="block-light">

        </div>
        <div class="block-dark">

        </div>
        <div class="block-light">

        </div>
        <div class="block-blue">

        </div>
    </div>
</div>