.home {
  //background-image: url(../../content/img/back.png);
  //background-size: cover;
  //background-repeat: no-repeat;
  .info-block {
    width: 1172px;
    height: 586px;
    margin: auto;
  }
  .info-block__main {
    background-color: $blocks-color-base-second;
    width: 879px;
  }
  .info-block__slider {
    background-color: $blocks-color-base-dark;
    width: 293px;
  }
  .info-block__around-us-body {
    background-color: $blocks-color-yellow;
    padding: 30px;
    height: 293px;
    width: 586px;
    float: left;
  }
  .info-block__button {
    background-color: $font-color-dark;
    color: $blocks-color-base;
    margin: 30px 0 0 0;
  }
  .info-block__button:hover, .info-block__button:focus {
    opacity: 0.9;
  }
  .info-block__video-body {
    background-color: $blocks-color-blue;
    height: 293px;
    width: 293px;
    float: right;
  }
  .info-block__slider__body {
    width: 293px;
    height: 293px;
    background-color: $blocks-color-base;
  }
  .contact-block__search-info {
    width: 586px;
    background-color: $blocks-color-base-dark;
    height: 293px;
  }
}