<div class="home">
    <fdn-header></fdn-header>
    <div class="info-block" layout="row" layout-align="space-between center">
        <div class="info-block__main" flex="70">
            <div class="info-block__around-us">
                <div class="main-title">
    BUILDING THE  <br> WORLD AROUND US
                </div>
            </div>
            <div class="info-block__video">

            </div>
        </div>
        <div class="info-block__slider" flex="30">

        </div>
    </div>
</div>