<div class="home">
    <fdn-header fh-color-logo="dark"></fdn-header>
    <div class="info-block" layout="row">
            <div class="info-block__main" layout="column">
                <div class="info-block__space-main">
                </div>
                <div>
                    <div class="info-block__around-us-body">
                        <div class="main-title">
                            BUILDING THE <br> WORLD AROUND US
                        </div>
                        <div class="divider"></div>
                        <div class="dark-text">
                            Still other clients have reserved for capital improvement projects and will <br> work directly
                            with our Design and Engineering team.
                        </div>
                        <div class="info-block__button button">read more</div>
                    </div>
                </div>
                <div>
                    <div class="info-block__video-body ">
                        <div class="image-content" layout="column" layout-align="center center">
                            <img src="content/img/video.png">
                            <div class="image-content__base-text">
                                company video
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-block__slider" layout="column">
                <div class="info-block__space-slider"></div>
                <div class="info-block__slider__body">
                </div>
            </div>
    </div>
    <div class="content">
        <div layout="row" layout-align="center center">
            <div class="block-light">
                <div class="main-title">
                    OUR <br> SERVICES
                </div>
                <div class="divider"></div>
                <div class="light-text">
                    Our mission is to provide the <br> highest level of service for our <br> client-partners from
                    concept <br> through constructions.
                </div>
            </div>
            <div class="block-dark">

            </div>
            <div class="block-light left-arrow">
                <div class="main-title">
                    General <br> Contracting
                </div>
                <div class="divider"></div>
                <div class="light-text">
                    This allows the design and <br> Engineering team to originate <br> drawings, specifications, <br>
                    structural calculations, details <br> and scopes of work that deliver
                    <br> exactly what the client had <br> intended to achieve.
                </div>
            </div>
            <div class="block-dark">
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <div class="block-light">

            </div>
            <div class="block-light right-arrow">
                <div class="main-title">
                    Project design <br> and engineering
                </div>
                <div class="divider"></div>
                <div class="light-text">
                    Trough Stage-Gate, Design and <br> Engineering methodology, <br> DMSC ensure client-partners <br>
                    realise clearly defined project <br> objective to achieve intended <br> results.
                </div>
            </div>
            <div class="block-dark">

            </div>
            <div class="block-light top-arrow">
                <div class="main-title">
                    Capital <br> improvements
                </div>
                <div class="divider"></div>
                <div class="light-text">
                    This result in scope creep and <br> slippage of the schedule that <br> ultimately result in
                    additional<br> costs to owner.
                </div>
            </div>
        </div>
    </div>
    <div class="content" layout="row">
        <div layout="row">
            <div class="block-yellow">
                <div class="image-content" layout="column" layout-align="center center">
                    <img src="content/img/price.png">
                    <div class="image-content__dark-text">
                        download price
                    </div>
                </div>
            </div>
            <div class="block-blue slide">
                <div class="image-content" layout="column" layout-align="center center">
                    <img src="content/img/contact.png">
                    <div class="image-content__base-text">
                        contact us
                    </div>
                </div>
            </div>
        </div>
        <div class="info-block__search-info">
        </div>
    </div>
    <div class="content" layout="row">
        <div class="block-light-medium">
            <div class="image-content" layout="column" layout-align="center center">
                <img src="content/img/photo-area.png">
                <div class="subtitle">
                    Martin H. Johnson
                </div>
                <img class="mt-10" src="content/img/stars-notFull.png">
                <div class="light-text">
                    Together, we`ll couple our knowledge, expertise, and innovative <br> capabilities with your astute
                    knowledge of your business - to maximize <br> and optimize results. This is accomplished
                    in a number of ways.
                </div>
            </div>
        </div>
        <div class="block-dark-medium">
            <div class="main-title">
                YOUR BUILDINGS IS IN <br> GOOD HANDS
            </div>
            <div class="divider"></div>
            <div class="dark-text">
                Our mission is to provide the highest level of service for our <br> client-partners from concept through
                constructions.
            </div>
            <div class="info-block__button button">about company</div>
        </div>
    </div>
    <div class="content" layout="row">
        <div class="block-pink-medium">
            <div class="image-content" layout="column" layout-align="center center">
                <img src="content/img/photo-area.png">
                <div class="subtitle">
                    Tony SH Schults
                </div>
                <img class="mt-10" src="content/img/stars.png">
                <div class="rating-text-dark">
                    When selecting DMCS as design building team, clients benefit in terms <br> off efficiency and
                    continuity that translate into cost savings and optimized <br> schedules. Contact us today and
                    see how DMCS can best serve you from.
                </div>
            </div>
        </div>
        <div class="block-light">
            <div class="number-square">
                <img src="content/img/lightning.png">
            </div>
            <div class="numbers">55 000</div>
            <div class="light-text">Expert witness</div>
        </div>
        <div class="block-dark">
            <div class="number-square">
                <img src="content/img/tear.png">
            </div>
            <div class="numbers">124 600</div>
            <div class="light-text">Construction</div>
        </div>
    </div>
    <div class="content" layout="row">
        <div class="block-blue">
            <div class="main-title-base">
                NEWS
            </div>
            <div class="content__news-text">
                12 february, 2015
            </div>
            <div class="content__news-title">
                Project Design and <br> Engineering Service
            </div>
            <div class="content__news-text">
                23 comments
            </div>
        </div>
        <div class="block-light">
            <div class="image-content" layout="column" layout-align="center center">
                <img src="content/img/photo-area.png">
                <div class="subtitle">
                    David MC. Adams
                </div>
                <img class="mt-10" src="content/img/stars-notFull.png">
                <div class="light-text">
                    In most urban aries, <br> construction has already built <br> existing structures, many having <br>
                    been standing for decades.
                </div>
            </div>
        </div>
        <div class="block-dark">
            <div class="number-square">
                <img src="content/img/gear.png">
            </div>
            <div class="numbers">18 000</div>
            <div class="light-text">Procurement</div>
        </div>
        <div class="block-light">
            <div class="number-square">
                <img src="content/img/bulb.png">
            </div>
            <div class="numbers">78 150</div>
            <div class="light-text">Project managements</div>
        </div>
    </div>
    <div class="content" layout="row">
        <div class="block-light">
            <div class="main-title">
                CONTEMPORARY <br> VILLA
            </div>
            <div class="divider"></div>
            <div class="light-text">
                Divorsity is a buzzword often <br> heard by brand managers, <br> business tycoons, politicians, <br> and
                more; but it is much more <br> than that. To use at DM <br> Constructions, diversity
                is the name <br> of the game.
            </div>
        </div>
        <div class="block-dark-medium">

        </div>
        <div class="block-yellow">
            <div class="image-content" layout="column" layout-align="center center">
                <img src="content/img/gears.png">
                <div class="image-content__dark-text">
                    work with us
                </div>
            </div>
        </div>
    </div>
    <div class="content" layout="row">
        <div class="block-light">
            <div class="light-text">
                We offer a diverse set of skills to <br> all client in all fields, but also <br> offer a diverse group
                of<br> individuals who are able to <br> deliver those skills.
            </div>
            <div class="info-block__button button">view project</div>

        </div>
        <div class="block-dark">

        </div>
        <div class="block-light">

        </div>
        <div class="block-blue">
            <div class="main-title-base">
                SUBSCRIBE
            </div>
            <div class="light-divider"></div>
            <div class="content__input">
                <input type="text" placeholder="E-mail">
                <div class="content__sign-up" layout="row" layout-align="end center">
                    sign up
                </div>
            </div>

        </div>
    </div>
</div>