<div class="services">
    <fdn-header fh-color-logo="light"></fdn-header>
    <!--TOP BLOCK-->

    <div class="top-content">
        <div class="top-content__logo">
            <div class="top-content__logo-space">
                <!--<div class="logo-content__button button">our services</div>-->
            </div>
        </div>
        <div class="top-content__slider">
        </div>
    </div>
    <!--TOP BLOCK ENDS-->
    <div class="content">
        <div class="row">
            <div class="block-light bottom-arrow">
                <div class="main-title">
                    General <br> Contracting
                </div>
                <div class="divider"></div>
                <div class="light-text">
                    This allows the design and <br> Engineering team to originate <br> drawings, specifications, <br>
                    structural calculations, details <br> and scopes of work that deliver
                    <br> exactly what the client had <br> intended to achieve.
                </div>
            </div>
            <div class="block-dark">

            </div>
            <div class="block-light contract-arrow">
                <div class="main-title">
                    Capital <br> improvements
                </div>
                <div class="divider"></div>
                <div class="light-text">
                    This result in scope creep and <br> slippage of the schedule that <br> ultimately result in
                    additional<br> costs to owner.
                </div>
            </div>
            <div class="block-blue">
                <div class="main-title-base">
                    POPULAR <br> POSTS
                </div>
                <div class="content__news-text">
                    12 february, 2015
                </div>
                <div class="content__news-title">
                    Project Design and <br> Engineering Service
                </div>
                <div class="content__news-text">
                    23 comments
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-dark">

            </div>
            <div class="block-light top-arrow">
                <div class="main-title">
                    Project design <br> and engineering
                </div>
                <div class="divider"></div>
                <div class="light-text">
                    Trough Stage-Gate, Design and <br> Engineering methodology, <br> DMSC ensure client-partners <br>
                    realise clearly defined project <br> objective to achieve intended <br> results.
                </div>
            </div>
            <div class="block-dark">

            </div>
            <div class="block-yellow">
                <div class="image-content" layout="column" layout-align="center center">
                    <img src="content/img/price.png">
                    <div class="image-content__dark-text">
                        download price
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-light">
                <div class="main-title">
                    Construction
                </div>
                <div class="divider"></div>
                <div class="light-text">
                    This allows the Design and <br> Engineering team to originate <br> drawings, specifications, <br>
                    structural calculations, details <br> and scopes of work that deliver
                    <br> exactly what the client had <br> intended to achieve.
                </div>
            </div>
            <div class="block-dark">

            </div>
            <div class="block-light contract-arrow">
                <div class="main-title">
                    Procurement
                </div>
                <div class="divider"></div>
                <div class="light-text">
                    This result in scope creep and <br> slippage of the schedule that <br> ultimately result in
                    additional<br> costs to owner.
                </div>
            </div>
            <div class="block-blue">
                <div class="main-title-base">
                    SUBSCRIBE
                </div>
                <div class="light-divider"></div>
                <div class="content__input">
                    <input type="text" placeholder="E-mail">
                    <div class="content__sign-up" layout="row" layout-align="end center">
                        sign up
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="block-dark">

            </div>
            <div class="block-light top-arrow">
                <div class="main-title">
                    Expert <br> witness
                </div>
                <div class="divider"></div>
                <div class="light-text">
                    Trough Stage-Gate, Design and <br> Engineering methodology, <br> DMSC ensure client-partners <br>
                    realise clearly defined project <br> objective to achieve intended <br> results.
                </div>
            </div>
            <div class="block-dark">

            </div>
            <div class="block-yellow">
                <div class="image-content" layout="column" layout-align="center center">
                    <img src="content/img/gears.png">
                    <div class="image-content__dark-text">
                        work with us
                    </div>
                </div>
            </div>
        </div>

        <fdn-footer></fdn-footer>

    </div>
</div>