.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  .footer__space{
    padding: 40px 0 0 0;
  }
  .footer__content {
    color: $font-color-light;
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
  }
  .footer__content__link {
    text-decoration: underline;
    color: $blocks-color-blue;
    cursor: pointer;
  }
  .footer__content__links{
    cursor: pointer;
    margin-right: 20px;
  }
}